include ./includes/head.jade
include ./includes/nav.jade
//-
//- if more, change file names
//- and add accordingly

#wrap
  .container
    include includes/images/images_designs.jade


include ./includes/foot.jade
