include ./includes/head.jade
include ./includes/nav.jade
//-
//- if more, change file names
//- and add accordingly

#wrap
  .container
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            h3.panel-title Personal Site
          .panel-body
            img(src="components/images/jolicoeur_com.png").fixedImageContainer
      .col-md-6
        .panel.panel-default
          .panel-heading
            h3.panel-title Wedding Site
          .panel-body
            img(src="components/images/wedding.png").fixedImageContainer

    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            h3.panel-title Scans / Charts
          .panel-body
            img(src="components/images/Scans.png").fixedImageContainer
      .col-md-6
        .panel.panel-default
          .panel-heading
            h3.panel-title Images / Design
          .panel-body
            img(src="components/images/images.png").fixedImageContainer

include ./includes/foot.jade
