include ./includes/head.jade
include ./includes/nav.jade
//-
//- if more, change file names
//- and add accordingly

#wrap
  .container
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            h3.panel-title Video
          .panel-body
            img(src="components/UXPresentation.mp4").fixedImageContainer

include ./includes/foot.jade
