include ./includes/head.jade
include ./includes/nav.jade
//-
//- if more, change file names
//- and add accordingly

#wrap
  .row
      .col-sm-5.col-sm-offset-1
          include includes/scans/scantable.jade

      .col-sm-5
          include includes/scans/servers.jade


include ./includes/foot.jade
