h1 Servers

table.table.table-striped.table-hover
    tr
        .btn.btn-primary.pull-right.add
            .fa.fa-plus  Add
        .btn.btn-success.pull-right.upgrade
            .fa.fa-refresh  Update All
    tr.bold
        td Name
        td Status
        td Action
    tr
        td ducktales
        td.online online
        td
            .btn-link(style="display:inline")
                <small>remove</small>
            &nbsp;
            .btn-link.pull-right(style="display:inline")
                <small>update</small>
    tr
        td beesnees
        td.update update required
        td
            .btn-link(style="display:inline")
                <small>remove</small>
            &nbsp;
            .btn-link.pull-right(style="display:inline")
                <small>update</small>
    tr
        td lillo
        td.offline offline
        td
            .btn-link(style="display:inline")
                <small>remove</small>
            &nbsp;
            .btn-link.pull-right(style="display:inline")
                <small>update</small>
