doctype html
html
    title Samples
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css', type='text/css' )
    link(rel='stylesheet', href='bower_components/fontawesome/css/font-awesome.min.css', type='text/css' )
    link(rel='stylesheet', href='components/css/custom.css', type='text/css' )
