nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header
      button(type="button", data-toggle="collapse", data-target="#demo-nav").navbar-toggle.collapsed
        span.sr-only Toggle Navigation
        span.fa.fa-crosshairs
      a(href="#").navbar-brand Adam's Demo Site
    #demo-nav.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="index.html") Home
        li
          a(href="../portfolio/index.html", target="top") AdamJolicoeur.com
        li
          a(href="scans.html") Scans / Charts
        li
          a(href="images.html") Images / Design
        li
          a(href="media.html") Media
